<div class="row">
  <div class="twelve columns">
    <h3>Bid on <%= @item.title %></h3>
    <%= form_for @bid do |f| %>
      <%= f.label :amount %>
      $ <%= f.text_field :amount, :placeholder => bid_placeholder(@item) %><br />

      <%= f.submit 'Bid', :class => 'button button-primary'%>
    <% end %>
  </div>
</div>
