<div class="row">
  <div class="twelve columns">
    <h3>Bid on <%= @item.title %></h3>
    <p>Current highest bid: <%= number_to_currency(@item.top_bid.amount) %></p>
    <%= form_for [@item, @bid] do |f| %>
      <%= f.label :amount %>
      $ <%= f.text_field :amount, :placeholder => bid_placeholder(@item) %><br />

      <%= f.hidden_field :item_id, :value => @item.id %>

      <%= f.submit 'Bid', :class => 'button button-primary'%>
    <% end %>
  </div>
</div>
