<div><h4>Auctions Listed by <%= @user.username %></h4></div>
<div class='row'>
  <div class='four columns'>
    <h6>Live</h6>
    <% @user.items.available.each do |item| %>
      <div>
        <%= link_to "#{item.title} (#{number_to_currency(item.starting_bid)})", item_path(item) %>
        <% if @user == current_user %>
          <%= link_to "edit", edit_item_path(item) %>
          <%= link_to "delete", item_path(item), method: :delete, data: { confirm: "Delete #{item.title}?" } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='four columns'>
    <h6>Scheduled</h6>
    <% @user.items.scheduled.each do |item| %>
      <p><%= link_to "#{item.title} (#{number_to_currency(item.starting_bid)})", item_path(item) %></p>
    <% end %>
  </div>
  <div class='four columns'>
    <h6>Expired</h6>
    <% @user.items.expired.each do |item| %>
      <p><%= link_to "#{item.title} (#{number_to_currency(item.starting_bid)})", item_path(item) %></p>
    <% end %>
  </div>
</div>
