
  <div class="row">
    <div class="six columns">
      <div class="img-section">
        <% if @item.image_file_name.nil? %>
          <%= f.file_field :image, id:"file", class: "inputfile" %><br />
            <label class="file-btn" for="file">Choose an Image</label>
        <% else %>
          <%= image_tag @item.image.url, class: "item-img" %>
          <div class="upload-img">
            <%= f.file_field :image, id:"file", class: "inputfile" %><br />
            <label class="file-btn" for="file">Choose a Image</label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="six columns">
      <%= f.label :title %>
      <%= f.text_field :title %><br />

      <%= f.label :description %>
      <%= f.text_field :description %><br />

      <%= f.label :start_time %>
      <%= f.date_field :start_time %><br />

      <%= f.label :end_time %>
      <%= f.date_field :end_time %><br />

      <%= f.label :starting_bid %>
      $ <%= f.text_field :starting_bid, :placeholder => "0.00" %><br />

      <%= f.submit :class => 'button button-primary'%>
      <a class="button" href="/">Cancel</a>
    </div>
  </div>

