<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Turtlebay!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='container row'>
    <div class='six columns'><h1><a class="title" href="/">Turtlebay</a></h1></div>
    <div class='six columns'><%= render 'shared/nav_links' %></div>
  </header>
  <div class='container'>
    <div class='flash-messages'><%= render '/shared/flash_errors' %></div>
    <%= yield %>
  </div>
</body>
</html>
